body{
   margin: 10%;
}

.grid-container{
   margin-top:10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 50vw;
   max-height: 50vw;
   background-color:black;
   border:solid black 0.5px;
}

.colour-div{
   display:flex;
}

/*
.grid-item{
   width: 3.125vw;
   height: 3.125vw;
   background-color:gray;
}
*/
/*
.grid-item:hover{
    background-color: darkgray;
}
*/

